<div class="barraTituloCRUD">
<!-- Comentario -->
    Selecciones de Fútbol
</div>
<div>
    <mat-form-field>
        <mat-label>Buscar</mat-label>
        <input matInput [(ngModel)]="textBusqueda">
    </mat-form-field>
    <button mat-stroked-button color="primary" (click)="buscar()">Buscar</button>
</div>
<div>
    <button mat-raised-button color="primary" (click)="agregar()">Agregar</button>
    <button mat-raised-button color="accent" (click)="modificar()">Modificar</button>
    <button mat-raised-button color="warn" (click)="verificarEliminar()">Eliminar</button>
    <ngx-datatable class="dark" [rows]="selecciones" [columns]="columnas" [limit]="10" [headerHeight]="50"
    [footerHeight]="50" [rowHeight]="'auto'" [columnMode]="modoColumna.force"
    [selectionType]="tipoSeleccion.single" (activate)="escoger($event)"></ngx-datatable>
</div>